<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <%- include('partials/header') %>

  <div class="container text-center">
    <h1>Contact Grup 6B Elit Ceez</h1>
    <img src="/images/group-profile.jpg" class="img-fluid rounded-circle" alt="Group Profile" style="width: 200px; height: 200px;">
    <p>Join Our Group.</p>
    <a href="https://chat.whatsapp.com/EPuviaIJcm6HNcWAJO1cc7" class="btn btn-primary">Join</a>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
